     .ribbon {
      width: 100%;
      background: #740303;
      opacity: 0;
    }
    .ribbon{
      background: #740303;
    }
    .ribbon .ribbon-content {
      margin: auto;
      padding: 15px 20px;
      font-family: "Gill Sans", sans-serif;
    }
    .ribbon .ribbon-content p {
      font-size: 16px;
      line-height: 1.5em;
      color: #fff;
    }
    .ribbon .ribbon-content span {  
      font-family: "Gill Sans", sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
    }
    .ribbon .ribbon-content span.big-number {
      font-family: "Gill Sans", sans-serif;
      font-size: 78px;
      font-weight: bold;
      color: #886378;
    }
